@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Riverside";
  src: url("../fonts/Riverside.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Riverside Outline";
  src: url("../fonts/RiversideOutline.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Krete Book";
  src: url("../fonts/KreteBook.otf") format("opentype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

.font-riverside,
.font-riverside-outline {
  @apply leading-none uppercase;
}


html {
  font-size: 62.5%;
  /* min-height: 101%; */
}

body {
  font-size: 62.5%;
  @apply relative font-sans text-sm antialiased font-normal leading-normal xl:text-base ;
}

body::after {
  content: '';
  background-image: url("../images/pattern-butterscotch.svg");
  @apply fixed inset-0 w-full h-full pointer-events-none opacity-10 -z-10 bg-seashell;
}


a {
  @apply transition duration-300;
}

[class*="transition"] {
  @apply duration-300;
}

/* --------------------------
Headings
-------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply p-0 mb-6 font-bold leading-tight;
}

h1 {
  @apply text-xl;
}

h2 {
  @apply text-lg;
}

/* --------------------------
Content
-------------------------- */

.content p {
  @apply mb-6;
}

.homepage-image {

}

.homepage-image--mobile {
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 75%);
}